<a href="https://colab.research.google.com/github/TDMDegree/Level-4-Introduction-to-AI-and-ML/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Introduction

The adult dataset is from the 1994 Census database. Details of this dataset can be found at UCI Machine Learning Repository. My main aim is to create a simple GUI, so that users can input their own data and get a prediction of whether their income will exceed $50,000. The objectives that I will follow to complete my main aim are set out below :

    Clean the data - Replace or delete missing data,
    Explore the data - delete any unnecessary fields and reduce the variance of individual features
    Normalise the data - convert the needed data for modelling
    Explore the machine learning algorithms
    Optimise the selected machine learning algorithm
    Create the GUI

Stage 1 : Exploratory data analysis (EDA)

Task 1 - Present the code tells me all of the columns, datatypes and
 records

In [ ]:
#Task 1 :
# You will need to import the correct libraries , read the csv file Salary.txt and make sure that columns have the following names
#names = [ "age" ,"workclass", "fnlwgt","education","education-num","marital-status","occupation",
#"relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","label"]
# You should complete task one.

Task 2- Which 2 columns do not explain the type of information it is storing ? Can you delete this 2 columns

In [ ]:
# Add the code to drop the columns

Task 3 - From the information file on the dataset, we know that all missing data was represented as "?". Change this to NaN

In [ ]:
#Task 3 - Add the code to change all "?"" to NaN . In my answer, I used numpy.NaN

Task 4 - Produce a report on the total number of null values for each column

In [ ]:
# print all the columns with the total number of null values

Task 5 - Before we delete these records, more information is needed to find out how much data would be lost if we deleted all the missing data.

In [ ]:
# create two dataframes. Drop the Null values from one of them and then compare the record
#differences to see how many records would be deleted

Exploring the data

Task 5 - using the native-country column, where we could potentially drop the null value records and ...

Create a graph that shows the different values within that column and the value count for each value.

**or **

Show the percentage of each of the different values within that column

In [ ]:
# Complete task 5



From the information above, we can see that 1 variance of this feature has over 91% of the data. A decision was made to change all missing data from the Native Country column to equal "United States".

Additional, the majority of the other variances had such a low number of records that a decision was made to try and combine the countries together in a way that could add to the model. The decision was to use the information from the website :

https://www.nationsonline.org/oneworld/GNI_PPP_of_countries.htm

to split the countries into high_PPP ,medium_PPP and low_PPP.

Task 6 - Replace all of np.NaN with United-States and loop round each of the arrays to replace based on high_PPP ,medium_PPP and low_PPP

low_PPP = [" Honduras", " Vietnam"," Cambodia"," Laos"," Haiti",
               " Yugoslavia"," India"," Guatemala", " Nicaragua"]


medium_PPP = [" Trinadad&Tobago"," Poland" ," Mexico" , " Thailand"," Iran"," Columbia", " Peru", " Philippines" ," China"," Ecuador" ,
         " Cuba"," El-Salvador"," Jamaica"," South"]

high_PPP = [" Holand-Netherlands"," Scotland"," Ireland"," Hong"," Beligum" ," Japan"," Italy"," England"," Germany"," Canada"," France"," Taiwan"," Greece"," Portugal" , " Hungary"," Outlying-US(Guam-USVI-etc)", " Puerto-Rico", " Dominican-Republic"]

In [ ]:
#Complete task 6

The next step was to look at the working class data and how the data is distributed.

Task 7 - Create a graph that shows the value count from the WorkClass column

In [ ]:
 # Complete task 7

The majority of the data is Privately employed. With the data being skewed to the Private sector,the missing data for the working class column was placed into the Private Column.

In addition to editing the missing data, a decision was made to combine fields that had a high correlation. The people who never work and the people who are without work were placed in the same category.

However the Government job categories remained as the mean salary for the different levels are significantly different.

-Federal government - $70,000

-State government - $53,180

-Local goverment - $47,230
(Information retrieved at https://work.chron.com/average-salary-government-employees-7863.html)

For the self employed columns, although no additional data was found showing a difference between incorporated self employers and unincorporated self-employees. It was thought that a person would incorporate their company when it grows to a significant size and so there could be a significant difference between the 2 categories. This resulted in the 2 categories being left as they were.

Task 8 - Replace the NaN to private within the workclass column and combine the never-worked and without-pay to "Umemployed"

Display the new data in the same graph as task 7

In [ ]:
# Code for task 8

An examination of the last column, Occupation, show now occur.

Task 9 - Present a graph that shows the value count for the "Occupation" column.

In [ ]:
#Code for Task 9

The spread of the data was much more even. 3 options were considered for the missing data. The first option was to create a model that used the other features to predict which occupation the record belonged to. The second option was to delete the data. The last option was to convert the missing data to an intentional out-of-range value. This would allow some of the prediction models to ignore that piece of data.

The results of that examination showed that 1843 would still be lost. After creating a model using KNNclasifer, the model came to only a 33% chance of guessing the correct label. Additionally, due to the size of the remaining sample,it was deemed acceptable to lose this number of records.

Task 10 - Drop the remaining NaN values

In [ ]:
# Complete Task 10



Once all the missing data was either replaced or deleted. The other columns were examined to see if the varience in each columns could be reduced.

To get a better idea if certain data categories could be combined an examine on the bias of dataframe was conducted.

Task 11 - Show the number of records that are above and below 50,000

In [ ]:
# Complete task 11

Using this information, a graph was created from the education column that showed the distribution of the data in each of the eductional categories.

Task 12 - Create a graph that shows each of the education values and the number of individuals for over and under 50,000

In [ ]:
# Complete task 12

A decision was made to combine all categories that were below the High School graduate. As the belief was that anyone who dropped out of highschool wouldn't be using their acdamic ability to aid them in their career.

Task 13 - replace the following values

[" 11th"," 10th"," 7th-8th"," 9th"," 12th"," 5th-6th"," 1st-4th"," Preschool"]

to dropouts

In [ ]:
# Complete Task 13

**Normalising the data **

The data has been cleaned and combined to make it more effective in the modeling process.However, currently there are still a number of columns that have an unsuitable datatype for some of the machine learning algorithms that I will be using.



I will be converting all the object datatypes to a numerical type. The options that I have for this are using the Labelencoder and OneHotEncoder.

Due to the non-ordinal relations between the data categories in each column. I have chosen to use pandas.get_dummies on the object datatypes -

 ["workclass","education","marital-status","occupation","relationship","race","sex","native-country" were converted to a numeric value.]

In [ ]:
df.info()
features = df[["workclass","education","marital-status","occupation","relationship","race","sex","native-country"]]
new_features = pd.get_dummies(features)

These features are then added to the original dataframe, and the original columns deleted.

In [ ]:
df.reset_index(inplace= True)
new_features.reset_index(inplace= True)
df = pd.merge(df,new_features,on="index",how="inner")
df.head(2)
df = df.drop(["index","workclass","education","marital-status","relationship","race","sex",
               "native-country","occupation"],1)
df.head(2)



Continuing with the necessary conversion of the data, the label column was updated so that:

0 = Below $50,000

1 = Above $50,000

In [ ]:
df["label"] = df["label"].apply(lambda x : 0 if x ==" <=50K" else 1)
label_df = df["label"]
features = df.drop("label",1)
features.head(2)
print(features.columns)



The features then had to be normalised as the differences between some of the values were so great that it could affect the accuracy of the models.

The MinMaxScaler was used to transforms the data.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.externals import joblib

scaler = MinMaxScaler()
scaler.fit(features)
joblib.dump(scaler, 'MinMaxScaler.pkl')
scaled_df = scaler.transform(features)

**Exploring the machine learning algorithms**



With the transformation of the data complete, a selection of algorithms were chosen to explore the best method to predict the salary classification. Below are the selected algorithms :

1)KNeighborsClassifier

2)Linear Regression

4)Random Forest

5)Extra Trees

6)Support Vector Machine

7)Neural Network