<a href="https://colab.research.google.com/github/TDMDegree/Level-4-Introduction-to-AI-and-ML/blob/main/Week%202%20Challenge%201%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas  exercise for Level 4

## 1. Setup

### Import

Before moving on to learn pandas first we need to install it and import it. If you install [Anaconda distributions](https://www.anaconda.com/) on your local machine or using [Google Colab](https://research.google.com/colaboratory) then pandas will already be available there, otherwise, you follow this installation process from [pandas official's website](https://pandas.pydata.org/docs/getting_started/install.html).

In [ ]:
# Importing libraries
import numpy as np
import pandas as pd

In [ ]:
# we can set numbers for how many rows and columns will be displayed
pd.set_option('display.min_rows', 10) #default will be 10
pd.set_option('display.max_columns', 20)

## 2. Loading Different Data Formats Into a Pandas Data Frame

### Reading CSV file

In [ ]:
# read csv file

url='https://raw.githubusercontent.com/tdmhub/L4DA_resources/main/online_store_customer_data.csv'
df = df = pd.read_csv(url,delimiter=',')
df.head(3)

,Transaction_date,Transaction_ID,Gender,Age,Marital_status,State_names,Segment,Employees_status,Payment_method,Referal,Amount_spent
0,1/1/2019,151200,Female,19.0,Single,Kansas,Basic,Unemployment,Other,1.0,2051.36
1,1/1/2019,151201,Male,49.0,Single,Illinois,Basic,self-employed,Card,0.0,544.04
2,1/1/2019,151202,Male,63.0,Married,New Mexico,Basic,workers,PayPal,1.0,1572.60

Exercises

Question 1 : Display the first 3 rows

In [ ]:
# Question 1 display first 3 rows

Question 2 : Display the last 10 rows

In [ ]:
# display last 10 rows

Question 3 : Display the datatypes of the dataset

In [ ]:
# Display the datatype of the dataset

Question 4: Display all the column names within the dataset

In [ ]:
#Display the column names

Question 5 : Display the 5nd to 11th rows within the dataset

In [ ]:
#for display 5nd to 11th rows

Question 6 : Remove the referal column from the dataset.

In [ ]:
#Drop 	"Referal" unwanted column

Question 7 : Create a new dataframe and then rename the column "Amount_spent" to payment

In [ ]:
# create new df_col dataframe from df.copy() method.


# rename column name  Amount_spent to payment

Question 8 : Add a new payment_pounds column which value will convert dollar amount into pounds  based on the following exchnage rate ( 1 Dollar to 0.80 Pounds)

In [ ]:
# Add a new payment_pounds column which value will convert dollar amount into pounds
df_col['payment_pounds'] =

In [ ]:
#Check the new values

Question 9 : Find out how many duplicate rows there are.

In [1]:
# Display duplicated entries

Question 10 : Remove all of the duplicated rows from the dataset

Question 11 : Display missing value count and sort them least to most

In [2]:
# Display missing value count and sort them least to most

Question 12 : Delete all records that have a Nan in the referal column.

In [ ]:
#Delete all records that have a Nan in the referal column.

Questions 13 : Change all Nan from the column "Amount_Spent" to the mean value of that column.

In [ ]:
# Impute Mean in all Nan values from Amount_Spent column

In [ ]:
df_new.describe(include=object).T